.cal-container {
  position: relative;
  margin: 3rem auto;
  width: 80vw;
  height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  background: #f8f8f8;
  border-top: solid 0.5rem #256d85;
}
