.cal-daily-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 0.08rem #d1d1d1;
}

.cal-daily-cell--top {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.1rem;
  width: 100%;
  height: 20%;
}

.current-day p {
  display: flex;
  background: #2b4865;
  color: #f8f8f8;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.cal-daily-cell--top-day {
  display: flex;
  height: 100%;
  width: 2rem;
  margin-right: 0.2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.cal-daily-cell--body {
  flex: 1;
  /* border-top: solid 0.1rem #d1d1d1; */
}
