.cal-daily-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 0.13rem #d1d1d1;
}

.cal-daily-cell--top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 15%;
  background: skyblue;
}

.cal-daily-cell--top-day {
  font-size: 1.3rem;
  margin-right: 0.4rem;
  background: gold;
}

.cal-daily-cell--body {
  flex: 1;
  background: red;
}

.current-day {
  background: #2b4865;
  color: #f8f8f8;
  border-radius: 100%;
  width: 2rem;
}
